body {
  background-color: #FFFFD6;
}

.deal {
  background-color: #BFBFAF;
  max-width:500px;
  width:300px;
  max-height:400px;
  min-height: 100px;
  float:left;  
  text-align: center;
  margin: 25px;
  border-radius: 10px;
}

.starRating {
  color:#3333CC;
}
